.orderBtn {
    cursor: pointer;
    display: flex;
    outline: none;
    outline: none;
    border: none;
    align-items: center;
    gap: 10px;
    background: var(--white-white, #FFF);
    font-family: InterRegular;
    font-size: 20px;
}

.orderText {
    color: var(--Primary-Text-Color, #637381)
}

.orderBtn:hover .orderText {
    color: var(--blue-blue-light, #5475E5);
}

.orderBtn:hover .orderImg * {
    fill: var(--blue-blue-light, #5475E5);
}