.statsBtn {
    cursor: pointer;
    display: flex;
    outline: none;
    outline: none;
    border: none;
    align-items: center;
    gap: 10px;
    background: var(--white-white, #FFF);
    font-family: InterRegular;
    font-size: 20px;
}

.statsText {
    color: var(--blue-blue-light, #5475E5);
}