.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}

.contentGrid {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1600px) {
    .content {
        padding-top: 40px;
    }
}


@media screen and (max-width: 550px) {
    .contentGrid {
        display: none;
    }

}