@font-face {
    font-family: MulishMedium;
    src: url("../../../../assets/fonts/Mulish/Mulish-Medium.ttf");
}

@font-face {
    font-family: MulishBold;
    src: url("../../../../assets/fonts/Mulish/Mulish-Bold.ttf");
}

.contentText {
    margin-top: 10px;
    margin-bottom: 30px;
}

.earnNow {
    color: #FFF;
    font-size: 68px;
    font-family: MulishBold;
    margin: 0;
    text-align: left;
    white-space: nowrap;
}

.firstUnderText {
    color: #82848E;
    font-size: 20px;
    font-family: MulishMedium;
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: left;
}

.secondUnderText {
    color: #82848E;
    font-size: 20px;
    font-family: MulishMedium;
    text-align: left;
   margin-top: 0px;
   margin-bottom: 25px;
}