@font-face {
    font-family: MulishMedium;
    src: url("../../../../assets/fonts/Mulish/Mulish-Medium.ttf");
}

@font-face {
    font-family: MulishBold;
    src: url("../../../../assets/fonts/Mulish/Mulish-Bold.ttf");
}

.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.firstLineWidgets {
    display: flex;
    gap: 90px;
}

.widgetRevShareContainer {
    cursor: pointer;
    padding-top: 3.62px;
    padding-right: 34px;
    width: 253.448px;
    height: 137.586px;
    transform: rotate(-4.93deg);
    border-radius: 24.138px;
    background: linear-gradient(224deg, #9F5FF2 0%, rgba(255, 255, 255, 0.00) 82.71%), linear-gradient(102deg, #FFF 19.17%, #EEF1F5 100%);
}

.widgetRevShare {
    padding-left: 34px;
    padding-right: 4px;
    padding-bottom: 4px;
    width: 246.212px;
    height: 130.344px;
    border-radius: 24.138px;
    background: linear-gradient(101deg, #FFF 19.17%, #EEF1F5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.widgetRevShareUpperText {
    color: #000;
    font-size: 38px;
    font-family: MulishBold;
    margin: 0;
}

.widgetRevShareLowerText {
    color: #707A97;
    font-family: MulishMedium;
    font-size: 24px;
    margin: 0;
}

.widgetPaymentsContainer {
    cursor: pointer;
    width: 347.5px;
    height: 149.067px;
    transform: rotate(3.939deg);
    padding-top: 5px;
    padding-bottom: 12px;
    padding-right: 31px;
    border-radius: 24.138px;
    background: linear-gradient(224deg, #9F5FF2 0%, rgba(255, 255, 255, 0.00) 82.71%), linear-gradient(102deg, #FFF 19.17%, #EEF1F5 100%);
}

.widgetPayments {
    width: 341.212px;
    height: 141.344px;
    padding-left: 34px;
    padding-bottom: 6px;
    padding-top: 12px;
    border-radius: 24.138px;
    background: linear-gradient(101deg, #FFF 19.17%, #EEF1F5 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.widgetPaymentsUpperText {
    color: #000;
    font-family: MulishBold;
    font-size: 38px;
    margin: 0;
}

.widgetPaymentsMiddleText {
    padding-top: 8px;
    color: #707A97;
    font-family: MulishMedium;
    font-size: 24px;
    margin: 0;
}

.widgetPaymentsLowerText {
    color: #707A97;
    font-family: MulishMedium;
    font-size: 24px;
    margin: 0;
}

.widgetStats {
    cursor: pointer;
    width: 450px;
    height: 170px;
    transform: rotate(-8deg);
    display: flex;
    gap: 50px;
    background: white;
    border-radius: 18px;
    box-shadow: 0px 3.16135px 18.17773px 0px #E6EAF3;
    margin-left: 40px;
}

.widgetStatsText {
    color: #282828;
    font-family: MulishBold;
    font-size: 24px;
    padding: 18px;
    margin: 0;
    text-align: left;
}

.widgetStatsUnderText {
    margin: 0;
}

.widgetStatsImgs {
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    padding-top: 16px;
}

.widgetStatsMoneyImg {
    transform: rotate(5deg);  
}

.widgetStatsLineImg {
    position: absolute;
    transform: rotate(6deg);  
    top: 10px;
    left: 80px;
}

@media screen and (max-width: 1400px) {
    .widget {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:40px;
    }
    .firstLineWidgets {
        gap: 40px;
    }
    .widgetRevShareContainer {
        width: 347.5px;
        height: 149.067px;
        transform: rotate(0deg);
        padding-top: 3px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .widgetRevShare {
        width: 341.212px;
        height: 141.344px;
        padding-left: 0px;
        padding-bottom: 5px;
        padding-top: 0px;
        align-items: center;
    }

    .widgetPaymentsContainer {
        transform: rotate(0deg);
        padding-top: 3px;
        padding-bottom: 0px;
        padding-right:0px;
    }

    .widgetPayments {
        padding-top: 6px;
        padding-left: 3px;
        padding-bottom: 5px;
        border-radius: 24.138px;
        align-items: center;
    }
    .widgetStats {
        transform: rotate(0deg);
        display: flex;
        align-self: center;
        margin: 0;
    }
    .widgetStatsText {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .widget {
        margin-top: 30px;
        gap:30px;
    }
    .firstLineWidgets {
        gap: 30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .widgetPaymentsContainer {
        width: 456.288px;
        height: 177.723px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .widgetPayments {
        width: 450px;
        height: 170px;
        padding-left: 2px;
        padding-bottom: 6px;
        padding-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .widgetRevShareContainer {
        width: 456.288px;
        height: 177.723px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 1px;
    }

    .widgetRevShare {
        width: 450px;
        height: 170px;
        padding-left: 0px;
        padding-bottom: 4px;
        padding-top: 0px;
    }
    .widgetPaymentsUpperText {
        font-size: 46px;
    }

    .widgetPaymentsMiddleText {
        padding-top: 8px;
        font-size: 28px;
    }

    .widgetPaymentsLowerText {
        font-size: 28px;
    }
    .widgetRevShareUpperText {
        font-size: 48px;
    }

    .widgetRevShareLowerText {
        font-size: 28px;
    }
    .widgetStatsText {
        font-size: 26px;
    }
}

@media screen and (max-width: 650px) {
     .widget {
        margin-top: 30px;
        gap:30px;
    }
    .firstLineWidgets {
        gap: 30px;
    }
    .widgetPaymentsContainer {
        width: 356.288px;
        height: 166.723px;
    }

    .widgetPayments {
        width: 350px;
        height: 160px;
        padding-left: 2px;
        padding-bottom: 6px;
        padding-top: 0px;
    }
    .widgetRevShareContainer {
        width: 356.288px;
        height: 166.723px;
    }

    .widgetRevShare {
        width: 350px;
        height: 160px;
    }
    .widgetPaymentsUpperText {
        font-size: 36px;
    }

    .widgetPaymentsMiddleText {
        padding-top: 8px;
        font-size: 22px;
    }

    .widgetPaymentsLowerText {
        font-size: 22px;
    }
    .widgetRevShareUpperText {
        font-size: 36px;
    }

    .widgetRevShareLowerText {
        font-size: 22px;
    }
    .widgetStatsText {
        font-size: 26px;
    }

    /* myStats */
    .widgetStats {
        width: 350px;
        height: 160px;
        gap: 10px;
        margin-left: 0px;
    }

    .widgetStatsText {
        font-size: 23px;
        padding: 9px;
        margin: 0;
    }


    .widgetStatsImgs {
        position: absolute;
        padding-top: 0;
        left: 185px;
        top: 12px;
    }

    .widgetStatsMoneyImg {
        transform: rotate(8deg);  
    }

    .widgetStatsLineImg {
        transform: rotate(6deg);  
        top: 0px;
        left: -20px;
    }

    .widgetStatsUnderText {
        white-space: nowrap;
    }
}